dist: trusty
language: c
os:
  - linux
compiler:
  - gcc
  - clang
env:
  global:
    - CFLAGS="-fprofile-arcs -ftest-coverage -O2"
    - LDFLAGS="-fprofile-arcs"
    - GAPROOT=gaproot
    - COVDIR=coverage

branches:
  only:
    - master
addons:
  apt_packages:
    - libgmp3-dev

before_script:
  - scripts/build_gap.sh
script:
  - scripts/build_pkg.sh
  - scripts/run_tests.sh
after_script:
  - bash scripts/gather-coverage.sh
  - bash <(curl -s https://codecov.io/bash)
